# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

Android_Custom_ROM_Modifier.csproj.user
Android_Custom_ROM_Modifier.sln
Android_Custom_ROM_Modifier.suo

# mstest test results
TestResults